
/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling--*/

body {
    background: rgb(0, 0, 0);
    color: #f8f8f8;
    font-family:'Roboto Condensed', sans-serif;
    margin:0 ;
    line-height:32px ;
}

section{
    margin: auto;
    padding: 1em;
    text-align: justify;
}

.intro {
    background:rgb(56, 99, 228);
    margin: auto;
    padding: 1em;
    text-align: justify;
}

.inspiration {
    background:whitesmoke;
}

.memorabledesigns{
    background: magenta;
}

.conclusion{
    background: black;
}


.gridimage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto-fill, minmax(340px,1fr)); 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*-- Styling typography --*/


p, blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

h2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 3em 0 1em 0;
}

h3 {
    font-size: 1.799rem;
    margin: 3em 0 1em 0;
}

blockquote {
    font-size: 1.714rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.5rem
}

.intro h2{
  color: black
}

.intro p{
    color:black
}

.timeline h2{
    color: white;
}

.timeline p{
    color: white;
}

.inspiration h2{
    color: black;
}

.inspiration p{
    color: black;
}

.memorabledesigns h2{
    color: white;
}

.memorabledesigns p{
    color: white;
}

.aneducator h2{
    color: black;
}

.aneductor p{
    color: black;
}

.conclusion h2{
    color: white;
}

.conclusion p{
    color: white;
}


/*-- Styling links --*/
a {
    color: #870d68;
    text-decoration: none
}

a:hover {
    color: magenta;
    border-bottom: 1px dotted;
}

/*-- Styling nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #000000;
    padding: 2em 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}

nav ul li {
    display: inline;
    margin: 20px
}

nav a {
    color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color: rgb(255, 187, 127);
    transition: all 0.3s ease-in-out
}


/*----- IMAGES -----*/
img {
    display: block;
    padding: 0;
    max-width: 100%;
}

footer {
    background: royalblue;
    text-align: center;
    font-size: 0.75rem;
    color: #f7f7f7;
    padding: 4em 0 3em 0
}

footer p {
    margin: .5em
}

.connections{
    position: relative;
    margin: 0 auto;
  }
  .connections ul{
    margin: 0;
    padding: 0;
  }
  .connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  
  }
  .connections a:link{
    border-bottom: none;
  }
  .connections img,
  .connections svg{
    border: none;
  }
  .connections a:hover img,
  .connections a:hover svg{
    border-bottom: none;}
  
  .connections svg {
        margin: 1em auto;}
  
  .connections a:hover svg path {
        fill: #D8C385;
        transition: all 0.2s ease-in-out;}
  
  footer .connections a:hover svg path {
          fill:  #D8C385;
          transition: all 0.2s ease-in-out;}
